### Índice de Diversidade de Shannon

\begin{equation}
H^{'} = \sum_{i=1}^S p_{i}*ln(p_{i})
\end{equation}

\begin{equation}
C = 1 -\frac {N*ln(N) - \sum_{i=1}^S n_{i}*ln(n_{i})}{N}
\end{equation}

* $p_{i} = n_{i}/N$

* $n_{i}$ = Número de indivíduos amostrados da i-ésima espécie;

* $DA_{i}$ = Densidade absoluta da i-ésima espécie $(n_{i}.ha^{-1})$;

* $N$ = Número total de indivíduos amostrados;

* $DTA$ = Densidade total $(N.ha^{-1})$;

* $S$ = Número de espécies amostradas;

* $ln$ = loratimo neperiano.

In [1]:
# Carregamento de pacotes
import pandas as pd
import numpy as np

In [3]:
# Abertura do dataframe com dados coletados pelo inventário
df = pd.read_csv('DUC_A01_2016_inventory.csv', sep=',', encoding='latin1')
df.head()

,area,plot,tree,common.name,scientific.name,family.name,DBH,type,Dead,D.class,date,UTM.Easting,UTM.Northing
0,DUC_A01,2,001a,macucu,Licania guianensis,Chrysobalanaceae,49.6,O,False,NaN,20160824,840127.0705,9674180.998
1,DUC_A01,2,001b,uxirana,Sacoglottis guianensis,Humiriaceae,43.6,O,False,NaN,20160824,840098.9678,9674177.868
2,DUC_A01,2,002a,mapatirana,Pourouma minor,Urticaceae,31.5,O,False,NaN,20160824,840126.4377,9674180.705
3,DUC_A01,2,002b,abiurana,Pouteria gongrijpii,Sapotaceae,39.2,O,False,NaN,20160824,840109.4829,9674171.803
4,DUC_A01,2,003a,roxinho,Peltogyne lecointei,Fabaceae,10.0,O,False,NaN,20160824,840125.6847,9674181.313

In [4]:
# Criação de uma pivot table para identificar o numero de individuos de determinada espécie por parcela
pivot = df.pivot_table(values='DBH', index='scientific.name', columns='plot',
                      aggfunc=np.count_nonzero, fill_value=0)

In [5]:
pivot['total'] = pivot.sum(axis=1)
pivot = pivot.reset_index()

In [6]:
N = pivot['total'].sum(axis=0)
pivot['pi'] = pivot['total']/N
pivot['lnpi'] = np.log(pivot['pi'])
pivot['pixlnpi'] = pivot['pi']*pivot['lnpi']
H = abs(pivot['pixlnpi'].sum(axis=0))

In [7]:
print(f'O indice de diversidade de Shannon é {round(H, 2)}')

O indice de diversidade de Shannon é 4.32

###### Quanto maior o valor de $H^{'}$, maior será a diversidade florística da comunidade em estudo (PERKINS, 1982; BROWER; ZAR, 1984).